// bower:scss
// endbower
@import 'reset'
@import 'variables'
@import 'structure'
@import 'helpers'

.main-container
  width: 960px
  height: 100%
  overflow: hidden

.main-header
  display: block
  text-align: center

.main-header-text
  width: 100%
  line-height: 28px
  padding: 26px 50px 19px 50px

.main-header-image-container
  position: relative
  overflow: hidden
  img
    z-index: 1

.main-title
  position: absolute
  bottom: 125px
  width: 100%
  z-index: 2
  color: #FFF
  font-size: 50px
  font-weight: bold
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5)

.main-footer
  padding: 0 50px

.highlight-container
  overflow: hidden
  background-color: $primary-background-color
  padding: $default-margin

.highlight-link
  display: inline-block
  padding: 20px 12px 0
  text-transform: uppercase
  border-top: 1px solid #C9C9C9
  text-decoration: none
  font-weight: bold
  margin-bottom: 50px
  min-width: 203px

.highlighted-paragraph
  letter-spacing: 2px

.highlight-container-line
  width: 100%
  overflow: hidden

.hoverable-video:hover
  cursor: pointer
  transition: border 0.2s linear
  border: 3px solid $primary-hover-color

.small-video
  display: block
  width: 400px
  height: 220px
  float: left

.section-title
  font-size: 22px
  line-height: 28px
  color: $primary-text-color
  font-weight: bold
  text-transform: uppercase
  margin-top: $default-margin
  margin-bottom: $default-margin
  &.video-title
    margin: 0 0 10px 0
    font-size: 20px
    line-height: 25px

.section-subtitle
  color: $secondary-text-color
  font-size: 18px
  &.video-subtitle
    font-style: italic
    margin-bottom: 30px

.list-title
  font-size: 16px
  color: $primary-text-color
  font-weight: bold
  text-transform: uppercase

.video-text
  margin-left: $default-margin
  overflow: hidden
  float: left
  width: auto
  max-width: 410px
  line-height: 23px

.team-photos-container
  overflow: hidden

.team-title
  width: 258px

.team-photo
  display: block
  float: left
  margin-right: (29px/3)
  &.last
    margin-right: 0

.qualities-abstract-container
  margin-top: 56px
  overflow: hidden
  padding: 0 $default-margin
  text-align: center

.qualities-abstract-list
  display: block
  overflow: hidden
  list-style: none
  margin-bottom: 30px

.qualities-abstract-column
  float: left
  width: 260px
  text-align: center
  margin-right: 40px
  &.last
    margin-right: 0

.quality-abstract-title
  margin: 30px 0 40px

.quality-abstract-text
  text-align: justify
  line-height: 26px

.open-jobs-list-title
  margin-bottom: 60px

.open-jobs-list-item
  margin-bottom: 23px
  .open-job-link
    text-transform: capitalize
    font-weight: bold
    text-decoration: none
  .job-location-text
    font-weight: bold
    float: right
